
<div class="step">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <img class="img-fluid w-100" src="../../../assets/ab.png" alt="About Us Image" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="box">
                    <h1>Contact Us</h1>
                </div>
                <hr>
                <div class="box1">
                  <p style="font-size: larger;font-weight: bold;">OUR OFFICE<p>
                  <P>We are headquartere in Doha,Qatar and work with a network of suppliers to produce the highest quality packing at reasonable rates</P>
                </div>
                <div class="col-md-4">
                    <div  class="footer-section">
                      <h3 style="font-size: larger;font-weight: bold;">Contact</h3>
                      <p>Email: info@shellpackqa.com</p>
                      <p>Phone: +974 39984088</p>
                      <p>Web: <a href="https://shell-packing.web.app/">shell-packing.web.app</a></p>
                      <p>Instagram: <a href="https://www.instagram.com/shellpack.qa/">shellpack.qa</a></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
