<div class="banner">
    <div class="content">
        <h1 class="mb-5">Contact Us</h1>
        <h2>Interested in placing an order or learning more? Simply reach out today</h2>

    </div>
    <div class="details" >
        <div class="container mt-3 mb-3">
            <p style="color: white;">
                Call us on the numbers below<br>
                Office - +974 3445666<br>
                Mr. Fayaz Ahmed - +974 3445666<br>
                We are headquartered in Doha,<br>
                Qatar, and work with a network of
                suppliers to <br>produce the highest
                quality packaging at reasonable
                rates.<br><i class="bi bi-globe"></i>&nbsp;
                shellpackqa.com<br><br><i class="bi bi-facebook">&nbsp;&nbsp;</i><i class="bi bi-geo-alt"></i>
            </p>


        </div>
    </div>

</div>