.banner {
    height: 420px;
    background-position: center;
    opacity: 0.9;
   background-color: black;
    background-size: cover top;
}
.content h1 {
    color: rgb(249, 249, 249);
    font-size: 30px;
    text-decoration: underline;
    padding: 26px 24px;
}
.content h2 {
    color: rgb(249, 249, 249);
    font-size: 20px;  
    padding: 1px 24px;
    font-weight: lighter;
    position: absolute;
    top: 30%;
}
.details p {
    color: rgb(249, 249, 249);
    /* font-size: 20px;   */
    /* padding: 1px 24px; */
    /* font-weight: lighter; */
    position: absolute;
    top: 40%;

}