 .banner {
     background-image: url("../../images/iph_pack-ship_packing.jpg");
     height: 400px;
     background-position: center;
 }
 .content h1 {
     color: hsl(0, 4%, 95%);
     font-size: 80px;
     font-weight: bolder;
     font-family: 'Times New Roman', Times, serif;
 }
 h1:hover{
    text-decoration: underline;
    color: yellow;
}
 .content {

     top: 40%;
     left: 30%;
     position: absolute;
     font-size: 50px;
     font-weight: bold;
     color: white;
 }
 .content a {
     text-decoration: none;
     background-color: #fff;

     color: var(--primary-color);
     padding: 10px 20px;
     border-radius: 5px;
     margin-top: 5px;
     font-weight: bold;
 }

 .content a:hover {
     background-color: var(--primary-color);
     color: #fff;

 }

 .step h1 {
     color: hsl(0, 0%, 1%);
     font-size: 50px;
     font-weight: bold;


 }
 .box img {
     height: 300px;
     border-radius: 5px;
 }

 .box h1 {
     font-size: 18px;
     margin-top: 20px;
     font-weight: bold;
 }

 .card-image {
     position: relative;

 }

 .card-image .card-image {}
.cards-wrapper {
     display: flex;
 }
 .card {
     /* margin: 0 .5em; */
     width: 94%;
     height: 40%;
     overflow: hidden;
     margin-left: 3%;
     margin-right: 3%;
     box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
     transition: 0.3s;
     background-color: black;
 }
 .slider-wrap {
     position: relative;
 }

 .slider-main {
     position: absolute;
     width: 500%;
     height: 20%;
 }

 .item {
     display: inline-block;
 }
 .prev {
    transform: translate(-50%, -50%);
     margin-top: 10%;
     margin-left: 3%;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background-color: #f1f1f1;
     color: black;
     border: none;
 }
.next {
     position: absolute;
     right: 10px;
     top: 50%;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     border: none;
 }

 p {
     position: absolute;
     color: white;
     top: 80%;
     margin-left: 19%;
     font-size: larger;
     font-weight: bolder;
 }