<div class="banner bg-image">
    <div class="content">
        <h1 class="mb-5">PRODUCTS</h1>
    </div>
</div>
<br>

<div class="step" style="background-color: beige;"><br>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://th.bing.com/th/id/R.edd18e78e9ed61e81f85f14a592c59e6?rik=maHbisK266hj4w&pid=ImgRaw&r=0" />

                    </div>
                    <h1
                        style="color:green;font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Paper cups</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;">Paper cups like double wall,rippled,coffee rippled
                            coffee paper
                            cups </h2>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://th.bing.com/th/id/R.4a2f4de4fdb7dbb8f78bd24415778c18?rik=o2iDr2N7aCTowQ&riu=http%3a%2f%2fwww.chi-ran.com%2fuploadfile%2f2020%2f0724%2f20200724044538298.jpg&ehk=8HBmLN6bZ0JOX2CEeNziqyhxz1OETwbLgg5zFet7dTw%3d&risl=&pid=ImgRaw&r=0" />
                    </div>
                    <h1
                        style="color:green; font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Sugarcane Food Containers</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;"> We are offering a variety of sugarcane food
                            containers including
                            square,rectangular,and round bowls,bagassse boxes,portion cups and food container </h2>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://th.bing.com/th/id/R.05020dbdddd3755936c12052614abccc?rik=TbhpH4VjPIxcUA&pid=ImgRaw&r=0" />
                    </div>
                    <h1
                        style=" color:green;font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Paper/Kraft Bags & Containers</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;">
                            Our paper and kraft food packaging includes snacks trays,lunch
                            boxes,rectangular boxes burger and pizza boxes,brown carry bags ,SOS bags


                        </h2>
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://th.bing.com/th/id/OIP.OpdktYlJmgLAU4PgdCBCkgHaHa?pid=ImgDet&w=750&h=750&rs=1" />

                    </div>
                    <h1
                        style="color:green;font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Bakery Products
                        Packaging</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;">Cake Boards, Muffin cups, Cake boxes,
                            Piping Bags, Cupcake cups, bakery food
                            containers, Subscription boxes e.t.c.</h2>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://www.yesgroupuk.com/wp-content/uploads/2021/02/P1010387-1024x1024.jpg" />
                    </div>
                    <h1
                        style="color:green; font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Black Base Food
                        Containers</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;"> RO and RE
                            containers, portion
                            cups, ice-cream cups
                            etc </h2>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://th.bing.com/th/id/R.57820853f4445b61d6478a90e11532f4?rik=EtFdAOxywrffaQ&pid=ImgRaw&r=0" />
                    </div>
                    <h1
                        style=" color:green;font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Aluminum Foil
                        (Food packaging)</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;">
                            Aluminum Pots, Plates and Containers of
                            various sizes, Aluminium tins, foil sheets,
                            packs


                        </h2>
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                    <div class="box">
                        <img class="w3-hover-opacity"
                            src="https://greenpackaginggroup.com/wp-content/uploads/2016/09/corrugated-rsc-style-stock-400x400.jpg" />

                    </div>
                    <h1
                        style="color:green;font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Miscellaneous</h1>
                    <div class="headings">
                        <h2 style="font-size: 15px;font-weight: 200;">EPS Ice Box, Vegetable Boxes, Cold Cups,
                            Juice Bottles, PET/PP Cups, Cutlery Sets,
                            Straws, Cling Film , Aluminium Foil,
                            Vinyle/ letex Gloves, Garbage Bags etc </h2>
                    </div>
            </div>



        </div>

    </div>
    
</div>



