/* Style adjustments */

.covers {
  padding-top: 30px;
}

.covers h1 {
  color: green;
  font-size: 28px;
  margin-top: 20px;
}

.covers h2 {
  font-size: 24px;
  margin-top: 10px;
}

.covers p {
  font-size: 18px;
  line-height: 1.5;
}

.covers img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
.search-container {
  text-align: center;
}

/* Styling for the search input */
#searchInput {
  padding: 10px;
  width: 50%; /* Adjust as needed */
  border: 2px solid #ccc;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for the search button */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0; /* Remove border radius */
  margin: 4px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #searchInput,
  button {
    height: 50px; /* Set the same height for both input and button */
  margin: 1px;
  

  }
  #searchInput{
    width: 70%;
  }  
}
