<br>
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search your product...">
    <button (click)="search()">Search </button>
</div>

<div id="productContainer" class="container container-fluid covers">

    <div class="row">
        <div class="col-md-6">
            <h1>KITCHEN FOOD PACKAGING</h1>
            <h2>Sugarcane Food Containers</h2>
            <p>We are offering a variety of Sugarcane food containers including Square, rectangular, and round bowls,
                Bagasse Boxes, Portion cups and Food Containers</p>
            <img src="../../../assets/sugarcane.png" alt="Sugarcane Food Containers" class="img-fluid zoomable">


        </div>
        <div class="col-md-6">
            <h1>PAPER / KRAFT BAGS & CONTAINERS</h1>
            <p>Our Paper and Kraft Food Pakaging includes snack trays, lunch boxes, rectangular bowls, soup bowls,
                burger and pizza boxes, brown carry bags, SOS covers, paper cup carriers e.t.c.</p>
            <img src="../../../assets/kraft.png" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h1>Paper cups</h1>
            <p>Papper cups like double wall,rippled, coffe papper cups</p>
            <img src="../../../assets/pcup.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>Bakery Products Packaging</h1>
            <p>Cake Boards, Muffin cups, Cake boxes, Piping Bags, Cupcake cups, bakery food containers, Subscription
                boxes e.t.c.</p>
            <img src="../../../assets/backery.png" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h1>Black base food containers</h1>
            <p>(RO and RE containers, portion cups, ice-cream cups etc.)</p>
            <img src="../../../assets/bla.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>Aluminum foil food packaging</h1>
            <p>Aluminum Pots, Plates and Containers of various sizes, Aluminium tins, foil sheets, packs.</p>
            <img src="../../../assets/alu.png" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 ">
            <h1>Miscellaneous</h1>
            <p>EPS Ice Box, Vegetable Boxes, Cold Cups, Juice Bottles, PET/PP Cups, Cutlery Sets, Straws, Cling Film,
                Aluminium Foil, Vinyle/ letex Gloves, Garbage Bags etc..</p>
            <img src="../../../assets/misl.png" alt="Image" class="img-fluid">
        </div>
    </div>
</div>
<br>