
<div class="step">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <img class="img-fluid w-100" src="../../../assets/abcn.png" alt="About Us Image" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="box">
                    <h1>ABOUT SHELL PACK COMPANY</h1>
                </div>
                <hr>
                <div class="box1">
                    <p>
                        Shell Pack Company Industries is a progressive manufacturing company based in Qatar with international partnerships in China and India. Our products are produced using cutting-edge technology conforming to the best international standards to satisfy global consumer needs. We provide outstanding products and unsurpassed service that deliver premium value to our customers.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box">
                            <h1>OUR SERVICES</h1>
                        </div>
                        <hr>
                        <div class="box1">
                            <p>
                                Using a unique combination of industry-leading products, equipment, and knowledgeable packaging professionals, we provide innovative packaging solutions that boost productivity within your industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <h1>CORE VALUES</h1>
                        </div>
                        <hr>
                        <div class="box1">
                            <p>
                                SUSTAINABILITY<br>
                                QUALITY FOCUSED<br>
                                COMMITMENT<br>
                                RESPECT & TRUSTWORTHINESS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
