<footer>
  <div class="container-fluid">
      <div class="row bg-gray" style="margin: 2%;">
          <div class="col-md-4 col-sm-12">
              <div class="footer-section">
                  <p></p>
                  <img src="../../../assets/Shell pack logo color_page-0001.jpg" class="navbar-logo">
                  <p>PACKAGING & TRADING</p>
                  <hr>
                  <a style="color: rgb(37, 83, 57);text-decoration: none;" href="https://wa.me/+97439984088">
                    <i class="fab fa-whatsapp"></i> Chat with us on WhatsApp
                </a>
              </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="footer-section">
                  <!-- Content for second column goes here -->
              </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="footer-section">
                  <h3 style="font-weight: bold;margin: 1%;">Links</h3>
                  <p routerLink="home" (click)="scrollTo()" style="cursor: pointer;">HOME</p>
                  <p routerLink="menu" (click)="scrollTo()" style="cursor: pointer;">PRODUCTS</p>
                  <p routerLink="about" (click)="scrollTo()" style="cursor: pointer;">ABOUT US </p>
                  <p routerLink="contact" (click)="scrollTo()" style="cursor: pointer;">CONTACT US</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="footer-bottom">
                  <p>&copy; 2024 Shell Pack. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
