

<div class="slider">
    <div *ngFor="let slide of slides; let i = index" class="slide"
        [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'" [class.active]="i === currentIndex">
        <img [src]="slide?.image" alt="Slide Image">
        <div class="slide-text-container">
            <h1 class="slide-heading">{{ slide.text }}</h1>
        </div>
    </div>
</div>
<div class="services">
    <h1>Shell Pack Services And Products</h1>
</div>
<div class="slider-wrap">
    <div class="slider-main" #slider>
        <div class="item">
            <div class="text"><img src="../../../assets/kitchen.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/paper.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/cups.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/bakery.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/black.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/aluminium.png"></div>
        </div>
        <div class="item">
            <div class="text"><img src="../../../assets/mis.png"></div>
        </div>
    </div>
    <div class="next-prv">
        <button type="button" class="prev" appPrev><i class="bi bi-chevron-left"></i></button>
        <button type="button" class="next" appNext><i class="bi bi-chevron-right"></i></button>
    </div>
</div>

<div class="container-fluid stylecontainer">
    <div class="row rowedit">
        <div class="col-md-6">
            <div class="row-red ">
                <img style="margin-left: 1%; width: 1200px;" src="../../../assets/walpaper.png"
                    class="img-fluid img-large" alt="Image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row-red d-flex justify-content-center align-items-center" style="height: 100%;">
                <h2 [@moveText]='"static"' style="margin: 0;
           font-family: 'Times New Roman', Times, serif;
           font-weight: bold;
           font-size: 23px; /* Increase font size for better readability */
           color: rgb(240, 239, 239);
           background-color: rgba(54, 54, 54, 0.5); /* White color with 50% transparency */
           ">
                    "AS THE SHELL PRESERVES THE PEARL,
                    <br> WE CARE ABOUT YOUR PRODUCTS."
                </h2>

            </div>
        </div>
    </div>
</div>


<br>
<div>
    <div class="card-content">
        <button (click)="scrollTo()" routerLink="menu" class="view-more-btn">View More</button>
    </div>
</div>
<hr style="font-weight: bolder;">



<div class="step" style=" background-color: rgb(164, 159, 159);margin: 0;">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="box mission-box">
                    <h2 style="color: #000000;" class="mission-heading">Mission</h2>
                    <div class="mission-content">
                        <p>To enhance the packaging ideology of packaging industries by providing quality products with
                            sustainable packaging.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box vision-box">
                    <h2 style="color: black;" class="vision-heading">Vision</h2>
                    <div class="vision-content">
                        <p>To become a most valuable part of our customer's business by delivering packaging excellence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box core-values-box">
                    <h2 style="color: black;" class="core-values-heading">Core Values</h2>
                    <div class="core-values-content">
                        <p>Sustainability | Quality Focused | Commitment | Respect |<br> Trustworthiness</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>